<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/obtener-todas-tareas'">
      <mat-icon>task</mat-icon>
      <span>Tareas</span>
    </button>
    <button mat-menu-item [routerLink]="'/guardar-usuario'">
      <mat-icon>person_add</mat-icon>
      <span>Nuevo Usuario</span>
    </button>
    <button mat-menu-item [routerLink]="'/obtener-todos-usuarios'">
      <mat-icon>group</mat-icon>
      <span>Usuarios</span>
    </button>    
    <button mat-menu-item [routerLink]="'/guardar-proyecto'">
      <mat-icon>group</mat-icon>
      <span>Nuevo Proyecto</span>
    </button>
    <button mat-menu-item [routerLink]="'/obtener-todos-proyectos'">
      <mat-icon>group</mat-icon>
      <span>Proyectos</span>
    </button>
  </mat-menu>
  